{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "local-rules"],
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "excludedFiles": ["**/__tests__/**/*.*", "*.d.ts"],
      "extends": ["plugin:react-hooks/recommended"],
      "parserOptions": {
        "project": [
          "./tsconfig.json",
          "./scripts/codemods/data-masking/tsconfig.json"
        ]
      },
      "plugins": ["eslint-plugin-react-compiler"],
      "rules": {
        "react-compiler/react-compiler": "error",
        "@typescript-eslint/consistent-type-imports": [
          "error",
          {
            "prefer": "type-imports",
            "disallowTypeAnnotations": false,
            "fixStyle": "separate-type-imports"
          }
        ],
        "@typescript-eslint/consistent-type-exports": ["error"],
        "@typescript-eslint/no-import-type-side-effects": "error",
        "@typescript-eslint/ban-types": [
          "error",
          {
            "types": {
              "GraphQLError": {
                "message": "Use GraphQLFormattedError instead",
                "fixWith": "GraphQLFormattedError"
              },
              "ExecutionResult": {
                "message": "Use FormattedExecutionResult instead",
                "fixWith": "FormattedExecutionResult"
              }
            },
            "extendDefaults": false
          }
        ],
        "no-restricted-syntax": [
          "error",
          {
            "selector": "ImportDeclaration[source.value='react'][importKind!='type'] :matches(ImportSpecifier, ImportDefaultSpecifier)",
            "message": "Please only use the namespace import syntax (`import * as React from 'react'`) for React imports!"
          }
        ],
        "import/consistent-type-specifier-style": ["error", "prefer-top-level"],
        "import/extensions": [
          "error",
          "always",
          {
            "ignorePackages": true,
            "checkTypeImports": true
          }
        ],
        "local-rules/require-using-disposable": "error"
      }
    },
    {
      "files": [
        "**/__tests__/**/*.[jt]s",
        "**/__tests__/**/*.[jt]sx",
        "**/?(*.)+(test).[jt]s",
        "**/?(*.)+(test).[jt]sx"
      ],
      "extends": ["plugin:testing-library/react"],
      "parserOptions": {
        "project": "./tsconfig.tests.json"
      },
      "rules": {
        "testing-library/prefer-user-event": "error",
        "testing-library/no-wait-for-multiple-assertions": "off",
        "local-rules/require-using-disposable": "error",
        "local-rules/require-disable-act-environment": "error",
        "local-rules/forbid-act-in-disabled-act-environment": "error",
        "@typescript-eslint/no-floating-promises": "warn"
      }
    }
  ],
  "rules": {
    "import/no-unresolved": "error"
  }
}
