[build]
  base    = "docs"
  publish = "docs/public"
  command = "cd .. && npm i && npm run build && cd docs && npm i && npm run types && gatsby build"
[build.environment]
  NPM_VERSION = "6"
[context.production.environment]
  PREFIX_PATHS = "true"
[context.branch-deploy.environment]
  PREFIX_PATHS = "true"
[dev]
  command = "npm run build"
[context.dev.environment]
  SKIP_INDEXING = "false"
