version: 2

jobs:
  Filesize:
    docker:
      - image: cimg/node:19.7.0
    steps:
      - checkout
      - run: npm version
      - run: npm ci
      - run: npm run bundlesize

  Lint:
    docker:
      - image: cimg/node:19.7.0
    steps:
      - checkout
      - run: npm version
      - run: npm ci
      - run: npm run lint

  Tests:
    docker:
      - image: cimg/node:19.7.0
    steps:
      - checkout
      - run: npm run ci:precheck
      - run: npm version
      - run: npm ci
      - run:
          name: Jest suite with coverage
          command: npm run test:ci
          environment:
            JEST_JUNIT_OUTPUT_FILE: "reports/junit/js-test-results.xml"
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit

workflows:
  version: 2
  Build and Test:
    jobs:
      - Filesize
      - Tests
      - Lint
