{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["inline-json-import", {}],
    "@babel/plugin-proposal-explicit-resource-management"
  ]
}
