name: Compare Build Output
on:
  pull_request:
    branches:
      - main
      - release-*

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    name: Compare Build Output
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install dependencies (with cache)
        uses: bahmutov/npm-install@v1

      - name: Run comparison script
        id: attw
        run: ./config/compare-build-output $(git merge-base HEAD origin/${{ github.base_ref }}) > $GITHUB_STEP_SUMMARY
