name: Prerelease

on:
  push:
    branches:
      # Target release-x.x branches
      - "release-*"

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  prerelease:
    name: Changesets Prerelease
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          # Fetch entire git history so  Changesets can generate changelogs
          # with the correct commits
          fetch-depth: 0

      - name: Append NPM token to .npmrc
        run: |
          cat << EOF > "$HOME/.npmrc"
            //registry.npmjs.org/:_authToken=$NPM_TOKEN
          EOF
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.x

      - name: Install dependencies with cache
        uses: bahmutov/npm-install@v1

      - name: Enter prerelease mode
        # if .changeset/pre.json does not exist and we did not recently exit
        # prerelease mode, enter prerelease mode with tag alpha
        run: |
          [ ! -f .changeset/pre.json && !contains(github.event.head_commit.message, 'Exit prerelease') ] \
            && npx changeset pre enter alpha \
            || echo 'Already in pre mode or recently exited'

      - name: Create release PR
        id: changesets
        uses: changesets/action@v1
        with:
          version: npm run changeset-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish alpha to npm
        if: "! test -f .changeset/pre.json"
        run: npm run changeset-publish

      # - name: Send a Slack notification on Publish
      #   if: steps.changesets.outputs.published == 'true'
      #   run: echo "Send message to Slack"
